<div class="container">
<div class="row">
   <div class="col-md-3">
   <div class="panel widget">
      <div style="background-image: url('http://lorempixel.com/400/400/fashion/6/')" class="panel-body text-center bg-center">
         <div class="row row-table">
            <div class="col-xs-12 text-white">
               <img src="http://lorempixel.com/400/400/people/1" alt="Image" class="img-thumbnail img-circle thumb128">
               <h3>Jane</h3>
               <p>
                  <em class="fa fa-twitter fa-fw"></em>janedoe</p>
            </div>
         </div>
      </div>
      <div class="panel-body text-center">
         <div class="row row-table">
            <div class="col-xs-4">
               <a href="#" class="text-danger">
                  <em class="fa fa-twitter fa-2x"></em>
               </a>
            </div>
            <div class="col-xs-4">
               <a href="#" class="text-danger">
                  <em class="fa fa-facebook fa-2x"></em>
               </a>
            </div>
            <div class="col-xs-4">
               <a href="#" class="text-danger">
                  <em class="fa fa-envelope-o fa-2x"></em>
               </a>
            </div>
         </div>
      </div>
      <div class="list-group">
         <a href="#" class="list-group-item">
            <span class="label label-danger pull-right">17</span>
            <em class="fa fa-fw fa-clock-o text-muted"></em>Recent Activity</a>
         <a href="#" class="list-group-item">
            <span class="label label-danger pull-right">1 254</span>
            <em class="fa fa-fw fa-user text-muted"></em>Following</a>
         <a href="#" class="list-group-item">
            <span class="label label-danger pull-right">142</span>
            <em class="fa fa-fw fa-folder-open-o text-muted"></em>Photos</a>
      </div>
   </div>
   </div>
   
   
   
     <div class="col-md-3">
   <div class="panel widget">
      <div style="background-image: url('http://lorempixel.com/400/400/fashion/8/')" class="panel-body text-center bg-center">
         <div class="row row-table">
            <div class="col-xs-12 text-white">
               <img src="http://lorempixel.com/400/400/people/6" alt="Image" class="img-thumbnail img-circle thumb128">
               <h3>Maria</h3>
               <p>
                  <em class="fa fa-twitter fa-fw"></em>janedoe</p>
            </div>
         </div>
      </div>
      <div class="panel-body text-center">
         <div class="row row-table">
            <div class="col-xs-4">
               <a href="#" class="text-primary">
                  <em class="fa fa-twitter fa-2x"></em>
               </a>
            </div>
            <div class="col-xs-4">
               <a href="#" class="text-primary">
                  <em class="fa fa-facebook fa-2x"></em>
               </a>
            </div>
            <div class="col-xs-4">
               <a href="#" class="text-primary">
                  <em class="fa fa-envelope-o fa-2x"></em>
               </a>
            </div>
         </div>
      </div>
      <div class="list-group">
         <a href="#" class="list-group-item">
            <span class="label label-primary pull-right">1 451</span>
            <em class="fa fa-fw fa-clock-o text-muted"></em>Recent Activity</a>
         <a href="#" class="list-group-item">
            <span class="label label-primary pull-right">254</span>
            <em class="fa fa-fw fa-user text-muted"></em>Following</a>
         <a href="#" class="list-group-item">
            <span class="label label-primary pull-right">1 254</span>
            <em class="fa fa-fw fa-folder-open-o text-muted"></em>Photos</a>
      </div>
   </div>
   </div>
   <div class="col-md-3">
   <div class="panel widget">
      <div style="background-image: url('http://lorempixel.com/400/400/fashion/9/')" class="panel-body text-center bg-center">
         <div class="row row-table">
            <div class="col-xs-12 text-white">
               <img src="http://lorempixel.com/400/400/people/8" alt="Image" class="img-thumbnail img-circle thumb128">
               <h3>Eva</h3>
               <p>
                  <em class="fa fa-twitter fa-fw"></em>janedoe</p>
            </div>
         </div>
      </div>
      <div class="panel-body text-center">
         <div class="row row-table">
            <div class="col-xs-4">
               <a href="#" class="text-success">
                  <em class="fa fa-twitter fa-2x"></em>
               </a>
            </div>
            <div class="col-xs-4">
               <a href="#" class="text-success">
                  <em class="fa fa-facebook fa-2x"></em>
               </a>
            </div>
            <div class="col-xs-4">
               <a href="#" class="text-success">
                  <em class="fa fa-envelope-o fa-2x"></em>
               </a>
            </div>
         </div>
      </div>
      <div class="list-group">
         <a href="#" class="list-group-item">
            <span class="label label-success pull-right">27</span>
            <em class="fa fa-fw fa-clock-o text-muted"></em>Recent Activity</a>
         <a href="#" class="list-group-item">
            <span class="label label-success pull-right">10</span>
            <em class="fa fa-fw fa-user text-muted"></em>Following</a>
         <a href="#" class="list-group-item">
            <span class="label label-success pull-right">327</span>
            <em class="fa fa-fw fa-folder-open-o text-muted"></em>Photos</a>
      </div>
   </div>
   </div>
   <div class="col-md-3">
   <div class="panel widget">
      <div style="background-image: url('http://lorempixel.com/400/400/fashion/6/')" class="panel-body text-center bg-center">
         <div class="row row-table">
            <div class="col-xs-12 text-white">
               <img src="http://lorempixel.com/400/400/people" alt="Image" class="img-thumbnail img-circle thumb128">
               <h3>Rosalie</h3>
               <p>
                  <em class="fa fa-twitter fa-fw"></em>janedoe</p>
            </div>
         </div>
      </div>
      <div class="panel-body text-center">
         <div class="row row-table">
            <div class="col-xs-4">
               <a href="#" class="text-info">
                  <em class="fa fa-twitter fa-2x"></em>
               </a>
            </div>
            <div class="col-xs-4">
               <a href="#" class="text-info">
                  <em class="fa fa-facebook fa-2x"></em>
               </a>
            </div>
            <div class="col-xs-4">
               <a href="#" class="text-info">
                  <em class="fa fa-envelope-o fa-2x"></em>
               </a>
            </div>
         </div>
      </div>
      <div class="list-group">
         <a href="#" class="list-group-item">
            <span class="label label-info pull-right">719</span>
            <em class="fa fa-fw fa-clock-o text-muted"></em>Recent Activity</a>
         <a href="#" class="list-group-item">
            <span class="label label-info pull-right">1 200</span>
            <em class="fa fa-fw fa-user text-muted"></em>Following</a>
         <a href="#" class="list-group-item">
            <span class="label label-info pull-right">325</span>
            <em class="fa fa-fw fa-folder-open-o text-muted"></em>Photos</a>
      </div>
   </div>
   </div>
</div>
</div>